@import url("github-markdown-css/github-markdown-light.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-50 text-slate-900 antialiased selection:bg-indigo-100 selection:text-indigo-900 min-h-screen;
  }
}

.slide-preview-frame {
  --slide-preview-scale: calc(calc(100vw - 6rem) / 1920px);
  width: calc(1920px * var(--slide-preview-scale));
  height: calc(1080px * var(--slide-preview-scale));
  overflow: hidden;

  @media (min-width: 768px) {
    --slide-preview-scale: calc(16rem / 1920px);
  }
}

.slide-preview {
  transform: scale(var(--slide-preview-scale));
  transform-origin: top left;
}

.thin-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #cbd5e1 #f1f5f9;
}

.markdown-body {
  ol {
    list-style: revert;
  }

  img {
    max-width: 400px;
    height: auto;
    margin: 0 auto;
  }
}

.cm-custom {
  /* text-sm text-slate-900 :text-slate-400 *:cm-placeholder:italic focus:outline-none focus:ring-2 focus:ring-blue-500 *:outline-none */
  .cm-placeholder {
    color: #94a3b8;
    font-style: italic;
  }

  .cm-line {
    font-size: 0.875rem;
    color: #0f172a;
  }

  .cm-editor {
    outline: none !important;
  }
}
